canvas#grid_bg_effect {
    display: block;
    width: 100%;
    height: 100%;
    opacity: .05;
}
body{
    margin: 0;
    /*background: linear-gradient(145deg, #000000, #eeeeee);*/
    background: linear-gradient(145deg,#dc2424,#4a569d);
}
.floater {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(35, 35, 35, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}
.floater h1 {
    text-align: center;
}