@font-face {
    font-family: "Vogue";
    src: url("fonts/Vogue.ttf");
}
@font-face {
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams.ttf");
}
@font-face {
    font-family: "Champagne & Limousines";
    src: url("fonts/Champagne & Limousines.ttf");
}
@font-face {
    font-family: "Gobold Regular";
    src: url("fonts/Gobold Regular.otf");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: 'MeteoconsRegular';
    url('fonts/meteocons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}